[submodule "deps/openzeppelin-contracts"]
	path = deps/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "deps/v4-core"]
	path = deps/v4-core
	url = https://github.com/Uniswap/v4-core.git
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
